<main>
  <div class="calculator-container">
    <div class="main-logo">
      <img src="../assets//images/logo.svg" alt="" />
    </div>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="grid">
            <div class="item-left">
              <div class="form-wrap">
                <div class="line-flex">
                  <label class="form-label" for="bill">Bill</label>
                  <ng-container
                    *ngIf="fBill.errors && (fBill.touched || fBill.dirty)"
                  >
                    <span>Please pay bill</span>
                  </ng-container>
                </div>
                <div class="form-input">
                  <div class="form-icon">
                    <img src="../assets/images/icon-dollar.svg" alt="dollar" />
                  </div>
                  <input
                    (input)="onCalculate()"
                    class="input"
                    type="number"
                    placeholder="0"
                    [formControl]="fBill"
                  />
                </div>

                <div class="select-tips">
                  <label class="form-label">Select Tip %</label>
                  <div class="select-tip">
                    <button
                      [ngClass]="{ active: tip === 5 }"
                      (click)="setTip(5)"
                    >
                      5%
                    </button>
                    <button
                      [ngClass]="{ active: tip === 10 }"
                      (click)="setTip(10)"
                    >
                      10%
                    </button>
                    <button
                      [ngClass]="{ active: tip === 15 }"
                      (click)="setTip(15)"
                    >
                      15%
                    </button>
                    <button
                      [ngClass]="{ active: tip === 25 }"
                      (click)="setTip(25)"
                    >
                      25%
                    </button>
                    <button
                      [ngClass]="{ active: tip === 50 }"
                      (click)="setTip(50)"
                    >
                      50%
                    </button>
                    <input
                      [OnlyNumber]="true"
                      type="text"
                      [readOnly]="true"
                      placeholder="Custom"
                    />
                  </div>
                </div>

                <div class="people">
                  <div class="line-flex">
                    <label class="form-label" for="amount"
                      >Number of People</label
                    >
                    <ng-container
                      *ngIf="
                        fPerson.errors && (fPerson.touched || fPerson.dirty)
                      "
                    >
                      <span>Person is required</span>
                    </ng-container>
                  </div>
                  <div class="form-input">
                    <div class="form-icon">
                      <img
                        src="../assets/images/icon-person.svg"
                        alt="person"
                      />
                    </div>
                    <input
                      [formControl]="fPerson"
                      (input)="onCalculate()"
                      [readonly]="isBill"
                      type="number"
                      class="input"
                      placeholder="0"
                    />
                    {{ this.fBill.errors?.['required']}}
                  </div>
                </div>
              </div>
            </div>
            <div class="item-right">
              <div class="list">
                <div class="list-body">
                  <div class="list-position">
                    <div class="list-top">
                      <div class="list-item">
                        <div class="item-label">
                          <h4>Tip Amount</h4>
                          <span>/ person</span>
                        </div>
                        <div class="item-data">
                          <h2>$ {{ tipAmount.toFixed(2) | number }}</h2>
                        </div>
                      </div>
                      <div class="list-item">
                        <div class="item-label">
                          <h4>total</h4>
                          <span>/ person</span>
                        </div>
                        <div class="item-data">
                          <h2>$ {{ total.toFixed(2) | number }}</h2>
                        </div>
                      </div>
                    </div>
                    <div class="list-down">
                      <button (click)="onReset()">reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
